.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 45px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  background-color: #ff6129;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 500;
  position: absolute;
  right: -13px;
  top: -18px;
}

.nav__more {
  background-color: #ff6129;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.7px;
  width: 5.7px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -13px;
}
